:root {
    --cf-dark: #212121;
    --cf-light: #ebebeb;
    --cf-darkblue: #00223d;
    --cf-highlight: #fae100;
}

/* #region Element overrides */

a {
    color: var(--cf-light);
}

a:hover {
    color: var(--cf-light);
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

nav {
    color: var(--cf-light);
}

body {
    display: flex;
    flex-direction: column;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url("/img/LandingPage_576.png");
    background-color: var(--cf-darkblue);
    background-size: auto 100%;
}

/* #endregion Element Overrides */

.myNavBar {
    color: var(--cf-light);
}

.content {
    color: var(--cf-light);
    display: flex;
    flex: 1 0 auto;
    align-items: end;
    width: auto;
}

.main-title {
    font-family: 'Racing Sans One', cursive;
    font-size: 1.8rem;
    line-height: .4rem;
}

.sub-title {
    font-family: 'Fira Sans', sans-serif;
    font-size: .75rem;
    line-height: .2rem;
}

.footer {
    flex-shrink: 0;
}

.footer span {
    color: var(--cf-light);
}

/* #region Title Breakpoints */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {
        background: url("/img/LandingPage_768.png");
        background-repeat: no-repeat;
        background-color: var(--cf-darkblue);
        background-position: top right;
    }

    .content {
        align-items: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        background: url("/img/LandingPage_992.png");
        background-repeat: no-repeat;
        background-color: var(--cf-darkblue);
        background-position: top right;
    }

    .main-title {
        font-size: 2rem;
        line-height: .6rem;
    }
    
    .sub-title {
        font-size: .85rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        background: url("/img/LandingPage_1200.png");
        background-repeat: no-repeat;
        background-color: var(--cf-darkblue);
        background-position: top right;
    }

    .main-title {
        font-size: 2.4rem;
        line-height: .8rem;
    }
    
    .sub-title {
        font-size: 1rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        background: url("/img/LandingPage_1400.png");
        background-repeat: no-repeat;
        background-color: var(--cf-darkblue);
        background-position: top right;
    }

    .main-title {
        font-size: 3.2rem;
        line-height: 1.35rem;
    }
    
    .sub-title {
        font-size: 1.35rem;
        line-height: .8rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    body {
        background: url("/img/LandingPage_1920.png");
        background-repeat: no-repeat;
        background-color: var(--cf-darkblue);
        background-position: top right;
        background-size: 100%;
    }
    .main-title {
        font-size: 4rem;
        line-height: 1.8rem;
    }
    
    .sub-title {
        font-size: 1.7rem;
    }
}
/* #endregion Title Breakpoints */